:root{
    --main-bg-color: #372248;
    --main-light-color: #FFF8F0;
    --main-accent-color: #F46036;
    --secondary-accent-color: #FF8811;
    --main-dark-color: #171123;
    --special-font: "Avory I Latin" Helvetica Arial;
    --main-font: "Myriad Pro" Helvetica Arial;
    --heading-font: "Fieldwork Hub" Helvetica Arial; 
  }

.contactwrapper {
    display: flex;
    background-color: var(--main-bg-color);
    color: var(--main-light-color);
    
}

aside p {
    display: inline-block;
    width: auto;
    padding: 25px;
    color: var(--main-light-color);
    font-size: 26pt;
}

aside {
    margin-top: 3rem; 
    margin-bottom: 3rem;
}

aside img {
    border-radius: 1.5rem;
    box-shadow: 1rem -1rem 0 .3rem var(--main-accent-color);
}

.contact-form-area {
	background: var(--main-bg-color);
    color: var(--main-light-color);
	justify-content: center;
	padding: 20px;
    margin: auto;
    position: relative;
	z-index: 1
}

label   {
    padding: 10px;
}


/* .contact-form-heading h3 {
	color: #FFF8F0;
	text-align: center;
	margin-bottom: 60px;
	font-weight: 700
} */

.contact-form-area input[type='text'] {
    display: block;
	width: 45%;
	background-color: var(--main-light-color);
	border: 5px solid var(--main-accent-color);
	padding: 20px;
	margin: auto;
	color: var(--main-light-color);
}

.contact-form-area input[type='email'] {
	
    display: block;
    width: 45%;
    background-color: var(--main-light-color);
    border: 5px solid var(--main-accent-color);
    padding: 20px;
    margin: auto;
	margin-top: 20px;
    color: var(--main-light-color);

}

.contact-form-area textarea {
	display: block;
    width: 58%;
    background-color: var(--main-light-color);
    border: 5px solid var(--main-accent-color);
    padding: 20px;
	margin: auto;
    color: var(--main-light-color);
	margin-top: 20px;
}
 h3	{
	 text-align: center;
 }

 .checks {
	text-align: center;	
	justify-content: center;
 }


/*16.5 Contact Form Button*/
.send-btn {
	text-align: center;
	margin-top: 80px
}

#formsend {
	background: var(--main-accent-color);
	color: #fff;
	border: none;
	padding: 12px 42px;
	text-transform: capitalize;
	font-weight: 700;
	cursor: pointer;
	-webkit-transition: .5s;
	transition: .5s;
	
}

#formsend:hover {
	background: var(--main-accent-color);

}
