body {
  background-color: var(--main-bg-color);
}

footer p {
  margin: 1em;
}


li.nav-item{
  margin: 2rem;
}

.nav-link {
  color: var(--main-light-color);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--main-accent-color);
}

.nav-pills .nav-link.active:hover {
  background-color: var(--secondary-accent-color);
  
}

.nav-link:focus,
.nav-link:hover {
  color: var(--secondary-accent-color);
}

button.navbar-toggler:hover{
  background-color: var(--secondary-accent-color);
}

button.navbar-toggler{
  background-color: var(--main-accent-color);
  margin-right: 5rem;
  padding: 1rem;
}

/* -------------- HEADER CSS --------------- */
header {
  background-color: var(--main-bg-color);
  width: 100%;
}


header > i {
  color: var(--main-light-color);
  justify-content: center;
}

button > i {
  color: var(--main-light-color);
  font-size: 1.5rem;
}

button {
  position: absolute;
  right: 0;
  top: 1rem;
}

/* -------------- FOOTER CSS --------------- */

footer {
  background-color: var(--main-accent-color);
  margin: 10%;
  border-top: 1rem solid var(--main-light-color);
  padding: 2%;

}

footer p a:link {
  color: var(--main-dark-color);
  text-decoration: none;
}

footer p a:hover {
  color: var(--main-bg-color);
  text-decoration: bold;
}

.clock .row{
  background-color: var(--main-light-color);
  border: 1px solid var(--secondary-accent-color);
}

.clock p {
  font-size: 1.5em;
  color: var(--main-dark-color);
  font-family: var(--special-font);
  line-height: auto;
  margin: 0;
}


.fa-instagram{
  color: var(--main-bg-color);
  max-width: 20vw;
}

div .fab{
  background-color: var(--secondary-accent-color);
  border-radius: 25px;
  font-size: 3rem;
}

.fa-github{
  color: var(--main-dark-color);
}

.fa-twitter-square{
  color: var(--main-bg-color);

}
.fa-meetup{
  color: var(--main-dark-color);

}
