:root{
  --main-bg-color: #372248;
  --main-light-color: #FFF8F0;
  --main-accent-color: #F46036;
  --secondary-accent-color: #FF8811;
  --main-dark-color: #171123;
  --special-font: "Avory I Latin" Helvetica Arial;
  --main-font: "Myriad Pro" Helvetica Arial;
  --heading-font: "Fieldwork Hum bold" Helvetica Arial; 
  }

  .darkmode {
  --main-bg-color: #FFF8F0;
  --main-light-color: #372248;;
  --main-accent-color: #FF8811;
  --secondary-accent-color: #F46036;
  --main-dark-color: #FFF8F0;
  --special-font: "Avory I Latin" Helvetica Arial;
  --main-font: "Myriad Pro" Helvetica Arial;
  --heading-font: "Fieldwork Hum bold" Helvetica Arial; 
}
.toastr{
  z-index: 9998;
}
.toast-body > p
{
  line-height: 0em;
  text-align: center;
}

.toast-body > p > a {
  color: var(--main-accent-color);
  text-decoration: none;
}

.toast-body > p > a:link {
  color: var(--main-accent-color);
  text-decoration: none;
}

.toast-body > p > a:hover {
  color: var(--secondary-accent-color);
  text-decoration: none;
}

/* -------------- HEADER CSS --------------- */
header {
  background-color: var(--main-bg-color);
  width: 100%;
}


header > i {
  color: var(--main-light-color);
  justify-content: center;
}

nav > button > i {
  color: var(--main-light-color);
  font-size: 1.5rem;
}

nav > button {
  position: absolute;
  right: 0;
  top: 1rem;
}

/* -------------- FOOTER CSS --------------- */

footer {
  background-color: var(--main-accent-color);
  margin: 10%;
  border-top: 1rem solid var(--main-light-color);
  padding: 2%;

}

footer p a:link {
  color: var(--main-dark-color);
  text-decoration: none;
}

footer p a:hover {
  color: var(--main-bg-color);
  text-decoration: bold;
}

.clock .row{
  background-color: var(--main-light-color);
  border: 1px solid var(--secondary-accent-color);
}

.clock p {
  font-size: 1.5em;
  color: var(--main-dark-color);
  font-family: var(--special-font);
  line-height: auto;
  margin: 0;
}


.fa-instagram{
  color: var(--main-bg-color);
  max-width: 20vw;
}

div .fab{
  background-color: var(--secondary-accent-color);
  border-radius: 25px;
  font-size: 3rem;
}

.fa-github{
  color: var(--main-dark-color);
}

.fa-twitter-square{
  color: var(--main-bg-color);

}
.fa-meetup{
  color: var(--main-dark-color);

}
