:root{
  --main-bg-color: #372248;
  --main-light-color: #FFF8F0;
  --main-accent-color: #F46036;
  --secondary-accent-color: #FF8811;
  --main-dark-color: #171123;
  --special-font: "Avory I Latin" Helvetica Arial;
  --main-font: "Myriad Pro" Helvetica Arial;
  --heading-font: "Fieldwork Hub" Helvetica Arial; 
}

/* -------------- HEADER CSS --------------- */
header {
  background-color: var(--main-bg-color);
  width: auto;
  padding-left: 10%;
  margin: 0 auto;
}

@media screen and (max-width: 991px) { .navbar-brand { height: auto } }

/* -------------- FOOTER CSS --------------- */

footer {
  background-color: var(--main-accent-color);
  margin: 10%;
  border-top: 1rem solid var(--main-light-color);
  padding: 2%;

}

.clock .row{
  background-color: var(--main-light-color);
  border: 1px solid var(--secondary-accent-color);
}

.clock p {
  font-size: 1.5em;
  color: var(--main-dark-color);
  font-family: var(--special-font);
  line-height: auto;
  margin: 0;
}


.fa-instagram{
  color: var(--main-bg-color);
  max-width: 20vw;
}

div .fab{
  background-color: var(--secondary-accent-color);
  border-radius: 25px;
  font-size: 3rem;
}

.fa-github{
  color: var(--main-dark-color);
}

.fa-twitter-square{
  color: var(--main-bg-color);

}
.fa-meetup{
  color: var(--main-dark-color);

}
