:root{
  --main-bg-color: #414770;
  --main-light-color: #FFF8F0;
  --main-accent-color: #F46036;
  --secondary-accent-color: #FF8811;
  --main-dark-color: #171123;
}


body {
  font-size: 14px;
}

h1 {
  color: var(--main-light-color)
}

header {
  background-color: var(--main-bg-color);
}

.resources-section {
  width: 100%;
  position: relative;
  margin: 5%;
}

.resources-image {
  border-radius: 25px;
  box-shadow: 2em 2em 0 5px var(--main-light-color), -2em -2em 0 5px var(--main-accent-color);
}
.resources-text-container {
  border: 5px solid var(--main-accent-color);
  background-color: var(--main-light-color);
  }

.resources-text-right {
  width: 100%;
  color: rgba(0,0,0,1);
  font-family: Myriad Pro;
  font-weight: Semibold;
  font-size: 1rem;
  padding: 2%;
  text-align: justify;
}

.resources-textbox {
  width: 100%;
  background: #FFF8F0;;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(255,68,0,1);
  overflow: hidden;
}

.resources-title {
  width: 100%;
  color: rgba(0,0,0,1);
  font-family: Fieldwork;
  font-weight: Hum Regular;
  font-size: 2rem;
  padding-top: 2%;
  text-align: justified;
}

