:root{
  --main-bg-color: #414770;
  --main-light-color: #FFF8F0;
  --main-accent-color: #F46036;
  --secondary-accent-color: #FF8811;
  --main-dark-color: #171123;
  --special-font: "Avory I Latin" Helvetica Arial;
  --main-font: "Myriad Pro" Helvetica Arial;
  --heading-font: "Fieldwork Hub" Helvetica Arial;
}


body {
  font-size: 14px;
}

h1 {
  color: var(--main-light-color);
  font-family: var(--special-font);
}

header {
  background-color: var(--main-bg-color);
}

footer {
  background-color: var(--main-accent-color);
  margin: 10%;
  border-top: 1rem solid var(--main-light-color);
  padding: 2%;

}

.resources-section {
  width: 100%;
  position: relative;
  margin: 5%;
}

.resources-image {
  border-radius: 1.5rem;
  box-shadow: 1rem 1rem 0 .15em var(--main-light-color), -1rem -1rem 0 .15rem var(--main-accent-color);
}
.resources-text-container {
  border: 5px solid var(--main-accent-color);
  background-color: var(--main-light-color);
  }

.resources-text-right {
  width: 100%;
  color: var(--main-dark-color);
  font-family: Myriad Pro;
  font-weight: Semibold;
  font-size: 1rem;
  padding: 2%;
  text-align: justify;
}

.resources-textbox {
  width: 100%;
  background: var(--main-light-color);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 5px solid var(--main-accent-color);
  overflow: hidden;
}

.resources-title {
  width: 100%;
  color: var(--main-dark-color);
  font-family: Fieldwork, var(--heading-font);
  font-weight: Hum Regular;
  font-size: 2rem;
  padding-top: 2%;
  text-align: justified;
}

.fa-instagram{
  color: var(--main-bg-color);
  max-width: 20vw;
}

div .fab{
  background-color: var(--secondary-accent-color);
  border-radius: 25px;
  font-size: 3rem;
}

.fa-github{
  color: var(--main-dark-color);
}

.fa-twitter-square{
  color: var(--main-bg-color);

}
.fa-meetup{
  color: var(--main-dark-color);

}


