:root{
  --main-bg-color: #372248;
  --main-light-color: #FFF8F0;
  --main-accent-color: #F46036;
  --secondary-accent-color: #FF8811;
  --main-dark-color: #171123;
  --special-font: "Avory I Latin" Helvetica Arial;
  --main-font: "Myriad Pro" Helvetica Arial;
  --heading-font: "Fieldwork Hum" Helvetica Arial;
}


body {
  font-size: 14px;
}

h1 {
  color: var(--main-light-color);
  font-family: var(--special-font);
}

.resources-section {
  width: 100%;
  position: relative;
  margin: 5%;
}

.resources-image {
  border-radius: 1.5rem;
  box-shadow: 1rem 1rem 0 .15em var(--main-light-color), -1rem -1rem 0 .15rem var(--main-accent-color);
}
.resources-text-container {
  border: 5px solid var(--main-accent-color);
  background-color: var(--main-light-color);
  }

.resources-text-right {
  width: 100%;
  color: var(--main-dark-color);
  font-family: Myriad Pro;
  font-weight: Semibold;
  font-size: 1rem;
  padding: 2%;
  text-align: justify;
}

.resources-text-container a:link, .resources-text-container a:visited {
  color: var(--main-accent-color);
  text-decoration: none;
  }

.resources-text-container a:hover {
  color: var(--secondary-accent-color);
 }

 .resources-text-container li {
  color: var(--main-dark-color);
 }

.resources-textbox {
  width: 100%;
  background: var(--main-light-color);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 5px solid var(--main-accent-color);
  overflow: hidden;
}

.resources-title {
  width: 100%;
  color: var(--main-dark-color);
  font-family: Fieldwork, var(--heading-font);
  font-weight: Hum Regular;
  font-size: 2rem;
  padding-top: 2%;
  text-align: justified;
}

