
.contactwrapper {
    display: flex;
    background-color: #372248;
    color: #FFF8F0;
    
}

p {
    display: inline-block;
    width: auto;
    padding: 25px;
    color: #FFF8F0;
    font-size: 26pt;
}

img.right {
    display: inline-block;
    padding: 20px;
    width: auto;
}

.contact-form-area {
	background: #372248;
    color: #FFF8F0;
	justify-content: center;
	padding: 20px;
    margin: auto;
    position: relative;
	z-index: 1
}

label   {
    padding: 10px;
}


/* .contact-form-heading h3 {
	color: #FFF8F0;
	text-align: center;
	margin-bottom: 60px;
	font-weight: 700
} */

.contact-form-area input[type='text'] {
    display: block;
	width: 45%;
	background-color: #FFF8F0;
	border: 5px solid #F46036;
	padding: 20px;
	margin: auto;
	color: #FFF8F0;
}

.contact-form-area input[type='email'] {
	
    display: block;
    width: 45%;
    background-color: #FFF8F0;
    border: 5px solid #F46036;
    padding: 20px;
    margin: auto;
	margin-top: 20px;
    color: #FFF8F0;

}

.contact-form-area textarea {
	display: block;
    width: 58%;
    background-color: #FFF8F0;
    border: 5px solid #F46036;
    padding: 20px;
	margin: auto;
    color: #FFF8F0;
	margin-top: 20px;
}
 h3	{
	 text-align: center;
 }

 .checks {
	text-align: center;	
	justify-content: center;
 }


/*16.5 Contact Form Button*/
.send-btn {
	text-align: center;
	margin-top: 80px
}

#formsend {
	background: #F46036;
	color: #fff;
	border: none;
	padding: 12px 42px;
	text-transform: capitalize;
	font-weight: 700;
	cursor: pointer;
	-webkit-transition: .5s;
	transition: .5s;
	
}

#formsend:hover {
	background: #F46036;

}